
body {
    font: 14px "Open Sans",sans-serif; 
}

main {
    background-color: white ; 
    max-width: 1240px; 
    margin: auto; 
    padding: 50px;
    z-index: 0; 
   position: relative; 
}

h1 {
    font-size: 20px; 
    font-weight: bold; 
}