header {
    background-color: black  ;
    line-height: 1;
    position: fixed; 
    height: 50px; 
    width: 100%; 
    z-index: 1; 
}

header ul {
    display: none; 
}

img {
    height: 50px; 
    display: inline-block; 
    vertical-align: top; 
}

#burger-menu {
    background-image: url("../img/burger-menu.png");
    background-repeat: no-repeat; 
    background-color: black; 
    background-position: center;  
    background-size: 20px ; 
    /* ^you specify this in terms of width and height  */
    height: 50px;
    width: 38px; 
    display: inline-block; 
    border: none;

}


/* FOR DESKTOP:  */
@media screen and (min-width: 768px) {

    header {
        height: 80px; 
    }
    /* could change this by assigning a class to ul called nav list or something? */
    header ul {
        display: inline-block ; 
        color: white;         
        list-style: none; 
        padding: 32px 10px; 
    }
    header ul li {
        font: 16px "Open Sans", sans-serif;
        display: inline-block; 
        
    }

    /* could change this with an ID or perhaps an image with the class LOGO  */
    img {
        height: 80px; 
    }

    #burger-menu {
        display: none; 
    }

    .social-icon {
        display:inline-block;
        padding: 5px; 
        position: absolute; 
        right: 15px;
        top: 17px; 
        }

    .social-icon>li {
        display:inline-block; 
        width: 32px; 
        height: 34px;
        padding: 0px; 
        text-align: center; 
        font-size: 22px; 
        font-weight: bold;
        border-radius: 21px; 
        
 
    }

    .social-icon a {
        display: inline-block; 
        color: white; 
        text-decoration: none; 
    }

    .social-icon .facebook {
        background-color: #315C97; 

    }

    .social-icon .twitter {
        background-color: #39A9E0;
    }

    .social-icon .pinterest {
    background-color: #CD1D1F; 
    }    

    .social-icon .instagram {
    
        background-color: #517FA3; 
    }
    

}