audio::-webkit-media-controls, video.story::-webkit-media-controls {
    display: none ; 
}

#videoplayer {
    position: relative; 
    overflow-x: scroll; 
    overflow-y: hidden; 
    height: 150px; 
    white-space: nowrap; 
    padding-top: 20px; 
}

.videoblock {
    display: inline-block;
    height: 150px; 
    white-space: nowrap;
    position: relative; 
    width: 100px; 
}

video.story:-webkit-full-screen {
    width:100%;
    height:100%
    }
        

video.story {
    position: absolute ;
    display: inline-block; 
    border-radius: 20px;
    z-index: 1;
    width: 100%; 
    float: none; 
    height: 150px ;
   
}

.play {
    background-image: url("../vid/play.png");
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: contain; 
    background-color: rgba(0,0,0,0.01);    /* ^you specify this in terms of width and height  */
    height: 60px;
    width: 60px; 
    display: inline-block; 
    position: absolute; 
    z-index: 4;
    border: none; 
    padding: none;
    bottom: 28%;
    left: 20%; 
}

/*   /////////////////////////////////////////   */ 
[data-state=hidden] {
    display: none; 
}

[data-state=visible] {
    display: block; 
}

.controls .navigation:hover, .controls .navigation:focus {
    opacity:0.5;
 }

.navigationblock {
    width: 414px;
    height: 50px; 
    position: absolute; 
    z-index: 2147484000; 
    left: 0%;
    top: 45%; 
    background-color: rgba(0,0,0,0.01); 
}

.navigation {
    position: absolute; 
    width: 50px; 
    height: 50px; 
}

.next {
right: 7% ;  
background-size: contain; 
background-image: url("../vid/arrow-right.png");
background-repeat: no-repeat; 
background-position: center;  
background-color: rgba(0,0,0,0.01);    /* ^you specify this in terms of width and height  */
border: none;  
}

.previous {
left: 5%;  
background-image: url("../vid/arrow-left.png");
background-size: contain;  
background-repeat: no-repeat; 
background-position: center;  
background-color: rgba(0,0,0,0.01);    /* ^you specify this in terms of width and height  */
border: none; 
 
}

.close {
    background-image: url("../vid/close.svg");
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: contain; 
    background-color: rgba(0,0,0,0.01);    /* ^you specify this in terms of width and height  */
    height: 30px;
    width: 30px; 
    position: absolute; 
    z-index: 2147484000;
    border: none; 
    padding: none;
    top: 10%;
    right: 8%; 

}

.mute {
    background-image: url("../vid/mute.png");
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: contain; 
    background-color: rgba(0,0,0,0.01);    /* ^you specify this in terms of width and height  */
    height: 40px;
    width: 40px; 
    position: absolute; 
    z-index: 2147484000;
    border: none; 
    padding: none;
    top: 10%;
    left: 5%; 

}
/*   /////////////////////////////////////////   */ 


.progressblock {
    display: block;
    height: 3%; 
    position: absolute; 
    z-index: 2147484050; 
    bottom: 4%; 
    width: 80%;
    left: 8%;
 
}

.progressblock>progress {
    -webkit-appearance: none;
    display: inline-block; 
    position: relative;
    height : 30%;    
    box-shadow: 0 50% 100% rgba(0, 0, 0, 0.75) inset;
}

progress[data-substories="1"]{
    width: 100%; /* function of how many sub-stories there are*/ 
    
}

progress[data-substories="2"]{
    width: 50%; /* function of how many sub-stories there are*/ 
    
}

progress[data-substories="3"]{
    width: 33%; /* function of how many sub-stories there are*/ 
    
}

progress[data-substories="5"]{
    width: 20%;  /* function of how many sub-stories there are*/ 
}


progress::-webkit-progress-value {
    background-color: rgba(109, 106, 106, 0.932);
    border-radius: 1px; 
}

progress::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 1px; 
    
    
}
